## INTEGERS

In [1]:
print(123456789 + 1)

123456790

In [2]:
print(10)
print(type(10))

10
<class 'int'>

## Floating-Point Numbers

In [3]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

## STRING

In [4]:
print("Carenina Amanda Putri")
print(type("Carenina Amanda Putri"))

Carenina Amanda Putri
<class 'str'>

In [5]:
print('')

In [6]:
print("This String Contains a single quote (') character.")
print('This String contains a double quote (") character.')

This String Contains a single quote (') character.
This String contains a double quote (") character.

## BOOLEAN TYPE, BOOLEAN CONTEXT, AND "TRUTHINESS"

In [7]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## VARIABLE ASSIGNMENT

In [8]:
n = 500

In [9]:
print(n)

500

In [10]:
n

500

In [11]:
n = 10000
print(n)

n

10000

10000

In [12]:
a = b = c = 4000
print(a, b, c)

4000 4000 4000

## VARIABLE TYPES IN PYTHON

In [13]:
var = 23.5
print(var)

var = "Now I'm a String"
print(var)

23.5
Now I'm a String

## VARIABLE NAMES

In [14]:
name = "Carenina Amanda Putri"
Age = 22
has_laptops = True
print(name, Age, has_laptops)

Carenina Amanda Putri 22 True

In [15]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

## OPERATORS AND EXPRESSIONS IN PY

In [16]:
a = 10
b = 25
a + b

35

In [17]:
a = 10
b = 40
a - b + 5

-25

## ARITHMETIC OPERATORS

In [18]:
a = 5
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

8
2
15
1.6666666666666667
2
125

## COMPARISON OPERATORS

In [19]:
a = 10
b = 20
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)

a = 30 
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

## STRING MANIPULATUION

In [20]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)

print('Carenina ' + 'Amanda' + 'Putri')

foobar
foobarbaz
Carenina AmandaPutri

In [21]:
s = 'foo'
s * 4

'foofoofoofoo'

In [22]:
s = 'foo'
print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [23]:
s = 'Dylansprouse'

print(s.capitalize())

print(s.lower())

print(s.swapcase())

print(s.title())

print(s.upper())

Dylansprouse
dylansprouse
dYLANSPROUSE
Dylansprouse
DYLANSPROUSE

# Pyhton Lists

In [24]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

In [25]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

## Lists Objects

In [26]:
a = [21.48, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.48, 'foobar', 3, 4, 'bark', False, 3.14159]

## List Elements

In [27]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [28]:
print(a[0])
print(a[5])

foo
corge

In [29]:
print(a[-3])
print(a[-6])

qux
foo

In [30]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [31]:
print(a)

print(a + ['grault', 'graply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'graply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [32]:
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

## Modifying a Single List Value

In [33]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a [-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [34]:
del a [3]

In [35]:
print(a)

['foo', 'bar', 10, 'quux', 20]

## Modifying Multiple List Value

In [36]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

## Tuple

In [37]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [38]:
print(t[0])

print(t[-1])

foo
corge

In [39]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

## Defining a Dictionary

In [40]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners'
}

In [41]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [42]:
MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [43]:
MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [44]:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

## Building a Dictionary Incrementally

In [45]:
person = {}
type(person)

person['fname'] = 'Carenina'
person['mname'] = 'Amanda'
person['lname'] = 'Putri'
person['age']   = 22
person['spouse']= 'Dylan sprouse'
person['children']= ['Nina', 'Nino', 'Nidy']
person['pets'] = {'Cat': 'lily', 'Bird': 'sasy'}

In [46]:
person

{'fname': 'Carenina',
 'mname': 'Amanda',
 'lname': 'Putri',
 'age': 22,
 'spouse': 'Dylan sprouse',
 'children': ['Nina', 'Nino', 'Nidy'],
 'pets': {'Cat': 'lily', 'Bird': 'sasy'}}

In [47]:
print(person['fname'])
print(person['mname'])
print(person['lname'])

Carenina
Amanda
Putri

In [48]:
print(person['children'])
print(person['children'][2])

['Nina', 'Nino', 'Nidy']
Nidy

In [49]:
print(person['pets'])
print(person['pets']['Cat'])

{'Cat': 'lily', 'Bird': 'sasy'}
lily

In [50]:
d = {'a': 10, 'b': 20, 'c': 30}
print(d.items())
print(d.keys())
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

## Line Continuation

In [51]:
person1_age = 21
person2_age = 26
person3_age = 35

someone_is_of_working_age = (person1_age >= 21 and person1_age <= 28) or (person2_age 
 >= 26 and person2_age <= 35) or (person3_age >= 35 and person3_age <= 40)
someone_is_of_working_age

True

In [52]:
someone_is_of_working_age = (
    (person1_age >= 24 and person1_age <= 28) 
    or (person2_age >= 23 and person2_age <= 35) 
    or (person3_age >= 30 and person3_age <= 40)
)

someone_is_of_working_age

True